<nav id="blog-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
             <!-- <a class="navbar-brand page-scroll">Amy Lynch Fitness</a>  -->
             <%= link_to "Amy Lynch Fitness", root_path, :class=> 'navbar-brand page-scroll' %>
          </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li> <%= link_to "Home", root_path %> </li>
                <li> <%= link_to "About", root_path %> </li>
                <li> <%= link_to "Services", root_path %> </li>
                <li> <%= link_to "Portfolio", root_path %> </li>
                <li> <%= link_to "Contact", root_path %> </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div id="blog-head" class="jumbotron">
  <h1>Amy's Blog</h1>
  <p>Welcome to my blog! Let's chat!</p>
</div>

<div class="container">
  <div class="col-sm-10 col-sm-offset-1 col-xs-12 blog-content">
    <% @posts.each do |post| %>
    <div class="col-xs-12">
      <div class="text-center">
        <h2><%= post.title %></h2>
        <h6><%= post.created_at.strftime('%b %d, %Y') %></h6>
      </div>

      <div>
        <%= raw(post.body) %>
      </div>

          <hr>


      <!-- <div class="text-center">
        <%#= link_to "READ MORE", post_path(post) %>
      </div>
      <br> -->
    </div>
    <% end %>
  </div>
</div>
